<div class="container mt-4">

  <h2>Clientes</h2>

  <a class="btn btn-primary mb-3" routerLink="/clientes/novo">
    Novo Cliente
  </a>

  <div *ngIf="loading" class="alert alert-info">
    Carregando...
  </div>

  <table class="table table-striped" *ngIf="!loading">

    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mail</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of clients">
        <td>{{ c.name }}</td>
        <td>{{ formatarCpf(c.cpf) }}</td>
        <td>{{ c.email }}</td>
        <td>
          <a class="btn btn-sm btn-info"
             [routerLink]="['/clientes', c.id]">
            Detalhes
          </a>
        </td>
      </tr>
    </tbody>

  </table>

</div>
