<div class="container mt-4">

  <div class="d-flex align-items-center mb-3">
    <button class="btn btn-secondary me-3" (click)="voltar()">← Voltar</button>
    <h2 class="mb-0">
      {{ clientId ? 'Editar Cliente' : 'Novo Cliente' }}
    </h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="salvar()">

    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
      <label class="form-label">CPF</label>
      <input
        class="form-control"
        formControlName="cpf"
        maxlength="14"
        placeholder="000.000.000-00"
        (input)="onCpfInput($event)"
      >
    </div>

    <div class="mb-3">
      <label class="form-label">E-mail</label>
      <input class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
      <label class="form-label">Endereço</label>
      <input class="form-control" formControlName="address">
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="loading">
      Salvar
    </button>

  </form>

</div>
